body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/DSC06415.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 800px;
}



body .photos1{
  background: url(../img/DSC06415.JPG);
}


header {
  background: gray;
  padding-top 100px;
  margin: 20px;
  min-height: 70px ;
  position: relative;
  top: 20px;
  opacity: 0.8;
  border: 1px solid gray;
  border-radius: 15px;
  width: 95%;
  overflow: hidden;
  
  
}

h1 {
  font-size: 2em;
  color: rgb(211, 218, 213);
  text-transform: uppercase;
}

p{
  font-size: 1.5em;
  color:rgb(250, 245, 245);
  font-weight: bold;
}


header a {
  color: rgb(248, 247, 247);
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
}

header ul{
  margin: 0;
  padding 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}

header #topweb {
  float: left;
}

header #topweb h1{
  margin: 0;
  margin-top: 20px;
  margin-left: 10px;
}

header nav{
  float: right;
  margin-top: 20px;
}



header .color1, header .color2 a{
  color:yellowgreen;
}

header a:hover{
  color:orange;
}

.container2{
  width: 75%
  padding: 20px;
  border: 2px solid rgb(224, 217, 217);
  border-radius: 15px;
  margin-top: 250px;
  margin-left: 50px;
  background-image: url('../img');
  background-size: cover;
  text-align: center;
  position: relative;
  left: 40px;
  
  }

.container3{
  padding: 20px;
  border: 2px solid rgb(224, 217, 217);
  border-radius: 15px;
  text-align: center;
  margin-top: 550px;
  width: 100%;
  position: relative;
  left: 50px;
  

}

.container4{
  padding:20px;
  border: 2px solid rgb(224, 217, 217);
  border-radius: 15px;
  margin-top: 850px;
  text-align: center;
  width: 65%;
  position: relative;
  left: 100px;
  
}

#papa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: auto;

}

footer{
 padding: 20px;
 margin-top: 40px;
 color:rgb(243, 236, 236);
 background-color: rgb(105, 102, 102); 
 text-align: center;
 opacity: 0.8;
}
  

/*Photos*/


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;;
}

.column {
  flex: 20%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* About Me*/


.about {
  position: relative;
  left: 40px;
  top: 110px;
  position: 
  
  
}


.about img{
  border-radius: 15%;
  border: 2px solid gray;
}

aside#sidebar {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  border: 1px solid gray;
  border-radius: 10%;
  padding-left: 10px;
  background-color: rgba(201, 206, 203, 0.774);
  text-align: left;
  text-transform:capitalize;
  color:rgb(61, 61, 60) ;
  background-size: cover;
  position: relative;
  bottom: 465px;
  right: 420px;
  
  
}

.name {
  padding-left: 20px
}

.col1 {
  color: rgb(47, 66, 117);
  
}

.col2 {
  color: rgba(59, 68, 95, 0.842);
}

.kontainer {
  border: 1px solid white;
  border-radius: 10%;
  width: 25%;
  position:relative;
  left: 1030px;
  bottom: 454px;
  background-color: rgba(201, 206, 203, 0.774);
  

}

.indent {
  text-indent: 15px;
  color: rgb(232, 238, 243);
  padding: 10px;
}

.bio {
  text-align: center;
  color: rgba(59, 68, 95, 0.842);
}




















